In [1]:
import pandas as pd
import numpy as np
import random
people =['Tina', 'Franco', 'Krys', 'Abi', 'Juan', 'Alex']

In [2]:
Mon = np.random.choice([41, 32, 38, 44, 15, 26], len(people))
Tues =  np.random.choice([41, 32, 38, 44, 15, 26], len(people))
Wed =  np.random.choice([41, 32, 38, 44, 15, 26], len(people))
Thurs = np.random.choice([41, 32, 38, 44, 15, 26], len(people))
Fri = np.random.choice([41, 32, 38, 44, 15, 26], len(people))

In [16]:
UPH = { 
    'Mon': Mon, 'Tues': Tues, 'Wed': Wed, 'Thurs': Thurs, 'Fri': Fri}

UPH_TS_df = pd.DataFrame(UPH, index=['Tina', 'Franco', 'Krys', 'Abi', 'Juan', 'Alex'],)
UPH_TS_df

        Mon  Tues  Wed  Thurs  Fri
Tina     41    26   41     26   38
Franco   44    44   41     32   26
Krys     44    38   26     15   38
Abi      44    44   41     38   44
Juan     26    38   41     44   38
Alex     32    44   44     15   44

In [19]:
UPH_R2 = UPH_TS_df.T

In [20]:
UPH_R2

       Tina  Franco  Krys  Abi  Juan  Alex
Mon      41      44    44   44    26    32
Tues     26      44    38   44    38    44
Wed      41      41    26   41    41    44
Thurs    26      32    15   38    44    15
Fri      38      26    38   44    38    44

To predict next day using time series I would have to build a model for each person listed.
That person's prediction would be based on on the units per hour for the week listed and could not use other factors like the tenure/experience of the person, department assignment, or shift(time of day) as factors in prediction.

For a Regression Model I could convert this info and add features? Do I have to drop the Mon - Fri columns?

In [4]:
UPH_R_df = UPH_TS_df.copy()#.drop(columns='pred_next_day')

In [5]:
UPH_R_df['tenure'] = np.random.choice(['90 days', '6 months', '1 year', '2 year'], UPH_R_df.shape[0])
UPH_R_df['current_ave'] = UPH_TS_df.mean(axis=1)
UPH_R_df['last_month_average'] = np.random.randint(25, 50, UPH_R_df.shape[0])
UPH_R_df['Dept_num'] = np.random.choice(['21', '23', '26', '28'], UPH_R_df.shape[0])

UPH_R_df['pred_next_day'] = ["?", "?", "?", "?", "?", "?"]

In [6]:
UPH_R_df

,Name,Mon,Tues,Wed,Thurs,Fri,tenure,current_ave,last_month_average,Dept_num,pred_next_day
0,Tina,41,26,41,26,38,2 year,34.4,28,23,?
1,Franco,44,44,41,32,26,1 year,37.4,42,23,?
2,Krys,44,38,26,15,38,2 year,32.2,39,26,?
3,Abi,44,44,41,38,44,90 days,42.2,27,28,?
4,Juan,26,38,41,44,38,6 months,37.4,40,26,?
5,Alex,32,44,44,15,44,1 year,35.8,27,21,?